.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title(id="myModalLabel") 用户中心
			.modal-body
				ul.nav.nav-tabs(role="tablist")
					li(role="presentation" class="active")
						a(href="#home" aria-controls="home" role="tab" data-toggle="tab") 登录
					li(role="presentation")
						a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") 注册

				.tab-content
					.tab-pane.active(role="tabpanel"  id="home")
						form.form-horizontal
							.form-group
								label(for="inputEmail3" class="col-sm-2 control-label") Email
								.col-sm-10
									input(type="email" class="form-control" id="inputEmail3" placeholder="Email")

							.form-group
								label(for="inputPassword3" class="col-sm-2 control-label") Password
								.col-sm-10
									input(type="password" class="form-control" id="inputPassword3" placeholder="Password")
							.form-group
								.col-sm-offset-2.col-sm-10
									.checkbox
										label
											input(type="checkbox")
											span Remember Me
							.form-group
								.col-sm-offset-2.col-sm-10
									button(type="submit" class="btn btn-default") Sign in
					.tab-pane(role="tabpanel"  id="profile")
						form.form-horizontal
							.form-group
								label(for="inputEmail3" class="col-sm-2 control-label") Email
								.col-sm-10
									input(type="email" class="form-control" id="inputEmail3" placeholder="Email")
							.form-group
								label(for="inputPassword3" class="col-sm-2 control-label") Password
								.col-sm-10
									input(type="password" class="form-control" id="inputPassword3" placeholder="Password")
							.form-group
								label(for="inputPassword3" class="col-sm-2 control-label") Repeat Password
								.col-sm-10
									input(type="password" class="form-control" id="inputPassword3" placeholder="Repeat Password")
							.form-group
								.col-sm-offset-2.col-sm-10
									.checkbox
										label
											input(type="checkbox")
											span Remember Me
							.form-group
								.col-sm-offset-2.col-sm-10
									button(type="submit" class="btn btn-default") Sign in
			.modal-footer
				button(type="button" class="btn btn-default" data-dismiss="modal") 取消

.container
	.row
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					.button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
						.span.sr-only Toggle navigation
						.span.icon-bar
						.span.icon-bar
						.span.icon-bar
					a.navbar-brand(href="#")
						.img.logo(src="/images/logo.png" height="40" width="40")
						.span 电影网
				.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
					ul.nav.navbar-nav
						li
							a(href="/") 首页
							span.sr-only current
						li
							a(href="/top") TOP250
						li
							a(href="/admincomment/comment") 撰写影评
						li
							a(href="/admincomment/listcomment") 我的影评
					form.navbar-form.navbar-left
						.form-group
							input(type="text" class="form-control" placeholder="你感兴趣的电影")
							button(type="submit" class="btn btn-default") 搜索
					ul.nav.navbar-nav.navbar-right
						li
							button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") 用户中心
							</button>


