.navbar-brand{
    width:200px;
}
.logo{
    float: left;
    margin-top: -15px;
}
.footer{
    margin-top: 50px;
    text-align: center;
}
.tou{
    margin-top: 60px;
}


#movie .thumbnail > img{
    height: 200px;
    !important;
}

#movie .caption p{
    font-size: 11px;

}
#movie .btn{
    font-size: 11px;
}

#now .thumbnail > img{
    height: 200px;
!important;
}

#now .caption p{
    font-size: 11px;

}
#now .btn{
    font-size: 11px;
}
#will .thumbnail > img{
    height: 200px;
!important;
}

#will .caption p{
    font-size: 11px;

}
#will .btn{
    font-size: 11px;
}
.carousel-caption {
    !important;
    left: 55%;
    right:5%;
}
.carousel-caption h3{
!important;
    padding-bottom: 10px;
    color: #333;
}
.carousel-caption p{
!important;
    color: #333;
}


/*具体电影页*/
.movieContent {
    margin-top: 20px;
}
.movieContent img{
    width: 100%;
}
.text_right{
    float: right;
}



/*登陆注册*/
.tab-content{
    margin-top: 20px;
}