extends ../layout

block content
    .container
        .row
            .page-header
                h1 正在热映
            .row(id="now")
            .page-header
                h1 即将上映
            .row(id="will")
    script(src="/js/main.js")