extends ../layout

block content
    .container
        .row
            .page-header
                h1 美女与野兽 Beauty and the Beast (2017)
                .row.movieContent
                    .col-md-8
                        .row
                            .col-md-4
                                img(src="/images/beauty.webp" alt="...")
                            .col-md-8
                                ul
                                    li 导演: 比尔·康顿
                                    li 编剧: 斯蒂芬·切波斯基 / 埃文·斯彼里奥托普洛斯 / 琳达·伍尔芙顿 / 珍妮-玛丽·勒普兰斯·德博蒙
                                    li 主演: 艾玛·沃森 / 丹·史蒂文斯 / 卢克·伊万斯
                                    li 类型: 爱情 / 歌舞 / 奇幻
                                    li 制片国家/地区: 美国
                                    li 语言: 英语
                                    li 上映日期: 2017-03-17(中国大陆/美国)
                                    li 片长: 130分钟
                                    li IMDb链接: tt2771200
                                    li
                                        span.label.label-success 评分：7.4
                        h3 美女与野兽的剧情简介  ·  ·  ·  ·  ·  ·
                        p &nbsp &nbsp &nbsp &nbsp贝儿（艾玛·沃森 Emma Watson 饰）和小镇上的其他女孩不同，是一个热爱阅读和幻想的姑娘，孔武有力英俊强壮的加斯顿（卢克·伊万斯 Luke Evans 饰）发誓要娶贝儿为妻，但贝儿却一眼看穿了他的自私和虚伪，拒不从命。某日，贝儿的父亲莫里斯（凯文·克莱恩 Kevin Kline 饰）迷路误打误撞之下来到了一座荒凉破败的城堡中，那里居住着样貌可怖半人半兽的野兽（丹·史蒂文斯 Dan Stevens 饰）。
                        p &nbsp &nbsp &nbsp &nbsp因为偷摘了城堡里种植的玫瑰，莫里斯被野兽囚禁了起来，得知此消息的贝儿赶到城堡，要求和父亲作交换。就这样，贝儿开始了和野兽的同居生活。在会说话的茶壶太太（艾玛·汤普森 Emma Thompson 饰）、烛台卢米亚（伊万·麦克格雷格 Ewan McGregor 饰）和时钟葛士华（伊恩·麦克莱恩 Ian McKellen 饰）的照顾和帮助下，贝儿渐渐发现，野兽在丑陋的外表下，隐藏了一颗善良温柔的心。实际上，野兽的真实身份是一位王子，因受到了女巫的诅咒而沦落至此，而贝儿，是解除诅咒最后的，也是唯一的希望。
                        h3 美女与野兽的短评 · · · · · ·
                        





                    .col-md-1
                    .col-md-3



    script(src="/js/top.js")


