extends ../layout

block content
    .container
        .row
            .page-header
                h1 美女与野兽 Beauty and the Beast (2017)
                .row.movieContent
                    .col-md-8
                        .row
                            .col-md-4
                                img(src="/images/beauty.webp" alt="...")
                            .col-md-8
                                ul
                                    li 导演: 比尔·康顿
                                    li 编剧: 斯蒂芬·切波斯基 / 埃文·斯彼里奥托普洛斯 / 琳达·伍尔芙顿 / 珍妮-玛丽·勒普兰斯·德博蒙
                                    li 主演: 艾玛·沃森 / 丹·史蒂文斯 / 卢克·伊万斯
                                    li 类型: 爱情 / 歌舞 / 奇幻
                                    li 制片国家/地区: 美国
                                    li 语言: 英语
                                    li 上映日期: 2017-03-17(中国大陆/美国)
                                    li 片长: 130分钟
                                    li IMDb链接: tt2771200
                                    li
                                        span.label.label-success 评分：7.4
                        h3.tou 美女与野兽的剧情简介  ·  ·  ·  ·  ·  ·
                        p &nbsp &nbsp &nbsp &nbsp贝儿（艾玛·沃森 Emma Watson 饰）和小镇上的其他女孩不同，是一个热爱阅读和幻想的姑娘，孔武有力英俊强壮的加斯顿（卢克·伊万斯 Luke Evans 饰）发誓要娶贝儿为妻，但贝儿却一眼看穿了他的自私和虚伪，拒不从命。某日，贝儿的父亲莫里斯（凯文·克莱恩 Kevin Kline 饰）迷路误打误撞之下来到了一座荒凉破败的城堡中，那里居住着样貌可怖半人半兽的野兽（丹·史蒂文斯 Dan Stevens 饰）。
                        p &nbsp &nbsp &nbsp &nbsp因为偷摘了城堡里种植的玫瑰，莫里斯被野兽囚禁了起来，得知此消息的贝儿赶到城堡，要求和父亲作交换。就这样，贝儿开始了和野兽的同居生活。在会说话的茶壶太太（艾玛·汤普森 Emma Thompson 饰）、烛台卢米亚（伊万·麦克格雷格 Ewan McGregor 饰）和时钟葛士华（伊恩·麦克莱恩 Ian McKellen 饰）的照顾和帮助下，贝儿渐渐发现，野兽在丑陋的外表下，隐藏了一颗善良温柔的心。实际上，野兽的真实身份是一位王子，因受到了女巫的诅咒而沦落至此，而贝儿，是解除诅咒最后的，也是唯一的希望。
                        h3.tou 美女与野兽的短评 · · · · · ·
                        div
                            span
                                a 斯文看客swain
                            span &nbsp &nbsp &nbsp2017-03-17
                            span &nbsp &nbsp &nbsp6728有用
                            p.text_right.label.label-success 评分：8
                            p 导演你把大表哥请来却不给他时间秀颜值，你这么做良心不会痛么？
                        div
                            span
                                a 喵驼酱°
                            span &nbsp &nbsp &nbsp2017-03-16
                            span &nbsp &nbsp &nbsp1971有用
                            p.text_right.label.label-success 评分：6
                            p 导演你把大表哥请来却不给他时间秀颜值，你这么做良心不会痛么？
                        div
                            span
                                a 凌睿
                            span &nbsp &nbsp &nbsp2017-03-16
                            span &nbsp &nbsp &nbsp1429有用
                            p.text_right.label.label-success 评分：6
                            p 若你喜欢怪人，其实我很美。
                        div
                            span
                                a 马庆云
                            span &nbsp &nbsp &nbsp2017-03-17
                            span &nbsp &nbsp &nbsp951有用
                            p.text_right.label.label-success 评分：6
                            p 我跟野兽之间，只差着一个碧桂园的森林别墅。
                        h3.tou 关于《美女与野兽》的问题 · · · · · ·
                        p.text_right 15人回答
                        p 外网上马来西亚和台湾地区一些人为什么要抵制这部片？
                        p.text_right 14人回答
                        p 为什么贝儿回村的时候不用魔法书？
                        p.text_right 9人回答
                        p 搞不懂，为什么beauty前不加the呢？
                        p.text_right 8人回答
                        p 我好像看到了甘道夫………？？
                        p.text_right 5人回答
                        p 看过的盆友求问有看3D的必要么？



                    .col-md-1
                    .col-md-3
                        img(src="/images/ad1.jpg" alt="...")
                        h4.tou 豆瓣成员常用的标签 · · · · · ·

                        div
                            span 动画
                            span &nbsp &nbsp &nbsp &nbsp歌舞
                            span &nbsp &nbsp &nbsp &nbsp爱情
                            span &nbsp &nbsp &nbsp &nbsp奇幻
                            span &nbsp &nbsp &nbsp &nbsp灵异
                        div
                            span 美国
                            span &nbsp &nbsp &nbsp &nbsp迪士尼

                        h4.tou 以下豆列推荐 · · · · · ·
                        p 【北美电影票房总排行榜】 (荔枝超人)
                        p 豆瓣电影【口碑榜】2017-02-21更新 (影志)
                        p 2017—2022值得期待的美国影片 (closer)
                        p 【中国内地电影票房总排行】 (荔枝超人)
                        p ღ♩♪生活有这些期待很有动力♫♬ღ (freedom♪)







    script(src="/js/top.js")


